body{
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Roboto", sans-serif;
  background: linear-gradient(90deg, #865439, 100%, #4a1010 50%);
}
.emoji{
  font-size: 20px;
  margin-bottom: 1rem;
}
#git {
  target: _blank;
  color: #865439;
}
input{
  display: none;
}
img{
  width: 100%;
  height: 100%;
}
.book {
display: flex;
}
#cover {
width: 250px;
height: 400px;
}
.flip-book {
width: 250px;
height: 400px;
position: relative;
perspective: 1500px;
}
.flip {
width: 100%;
height: 100%;
position: absolute;
top: 0;
left: 0;
transform-origin: left;
transform-style: preserve-3d;
transform: rotateY(0deg);
transition: .5s;
color: #000;
}
p{
font-size: 14px;
  line-height: 24px;
}
.front {
position: absolute;
width: 100%;
height: 100%;
top: 0;
color: #fff;
left: 0;
background-color: #2D2424;
box-sizing: border-box;
padding: 0 13px;
  box-shadow: inset 20px 0 50px rgba(0,0,0,0.5)0 2px 5px rgba(0,0,0,0.5);
}
.back {
position: absolute;
width: 100%;
height: 100%;
top: 0;
left: 0;
z-index: 99;
transform: rotateY(180deg);
backface-visibility: hidden;
background-color: #2D2424;
}
.next-btn {
position: absolute;
bottom: 14px;
right: 14px;
cursor: pointer;
color: #a1a1a1;
  font-size: 11px;
}
.back-btn {
position: absolute;
bottom: 14px;
right: 14px;
cursor: pointer;
color: #fff;
  font-size: 11px;
}
#p1 {
z-index: 3;
}
#p2 {
z-index: 2;
}
#p3 {
z-index: 1;
}
#c1:checked ~ .flip-book #p1 {
transform: rotateY(-180deg);
z-index: 1;
}
#c2:checked ~ .flip-book #p2 {
transform: rotateY(-180deg);
z-index: 2;
}
#c3:checked ~ .flip-book #p3 {
transform: rotateY(-180deg);
z-index: 3;
}
#menu__toggle {
opacity: 0;
}
#menu__toggle:checked + .menu__btn > span {
transform: rotate(45deg);
}
#menu__toggle:checked + .menu__btn > span::before {
top: 0;
transform: rotate(0deg);
}
#menu__toggle:checked + .menu__btn > span::after {
top: 0;
transform: rotate(90deg);
}
#menu__toggle:checked ~ .menu__box {
left: 0 !important;
}
.menu__btn {
position: fixed;
top: 20px;
left: 20px;
width: 26px;
height: 26px;
cursor: pointer;
z-index: 1;
}
.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
display: block;
position: absolute;
width: 100%;
height: 2px;
background-color: #fff;
transition-duration: .25s;
}
.menu__btn > span::before {
content: '';
top: -8px;
}
.menu__btn > span::after {
content: '';
top: 8px;
}
.menu__box {
display: block;
position: fixed;
top: 0;
left: -100%;
width: 300px;
height: 100%;
margin: 0;
padding: 80px 0;
list-style: none;
background-color: #5C3D2E;
box-shadow: 2px 2px 6px rgba(0, 0, 0, .4);
transition-duration: .25s;
}
.menu__item {
display: block;
padding: 12px 24px;
color: #fff;
font-family: 'Roboto', sans-serif;
font-size: 20px;
font-weight: 600;
text-decoration: none;
transition-duration: .25s;
}
.menu__item:hover {
background-color: #A0937D;
}

h1 {
text-align: center;
text-transform: uppercase;
color: black;
  vertical-align: text-top;
  font-family: "segoe ui", 'Black', sans-serif;
  font-size: 42px;
  word-spacing: 72px;
}


@import url("https://fonts.googleapis.com/css2?family=Hind&family=Montserrat:wght@700&display=swap");
:root {
 --text-font: "Hind", sans-serif;
 --title-font: "Montserrat", sans-serif;
 --white: #fff;
 --dark: #141414;
 --dark-fade: rgba(0, 0, 0, 0.35);
 --gray: #707070;
 --light-gray: #a1a1a1;
 --faded-gray: #e0e0e0;
}
*, *::before, *::after {
 box-sizing: border-box;
 margin: 0;
 padding: 0;
}
body {
 font-family: var(--text-font);
 color: var(--dark);
}
img {
 width: 100%;
 vertical-align: top;
}
a {
 text-decoration: none;
 color: inherit;
}
.footer {
 margin-top: 80px;
}
.footer__redes-wrapper {
 display: flex;
 justify-content: center;
 gap: 40px;
 flex-wrap: wrap;
 max-width: 600px;
 margin: 45px auto;
}
.footer__redes-wrapper li {
 display: inline-block;
}
.footer__redes-wrapper li:hover {
 color: white;
}
.footer__link {
 text-transform: uppercase;
 font-family: var(--title-font);
 font-size: rem(14);
}
.footer .fab {
 margin-right: 8px;
}
.footer__texto {
 color: var(--light-gray);
 text-align: center;
}
.gallery__grid {
 display: grid;
 grid-template-columns: repeat(6, 1fr);
}
.gallery__photo {
 position: relative;
 display: inline-block;
}
.gallery__fade {
 position: absolute;
 top: 0;
 left: 0;
 width: 100%;
 height: 100%;
 background-color: var(--dark-fade);
 display: flex;
 justify-content: center;
 align-items: center;
 opacity: 0;
}

.name {
  font-family: "segoe ui", 'Black', sans-serif;
  font-size: 42px;
  word-spacing: 72px;
  color: white;
}

.gallery__fade:hover {
 opacity: 1;
}
.gallery__icon {
 color: #fff;
 width: 50px;
 height: 50px;
}
.separador {
 background-color: var(--faded-gray);
 height: 2px;
 max-width: 30px;
 margin: 15px auto 20px;
}
.footer__redes-wrapper li, .gallery__fade {
 transition: all ease 0.3s;
}

@keyframes fadeOut {
 0% {
   opacity: 1;
}
 100% {
   opacity: 0;
}
}
.owl-height {
 transition: height 0.5s ease-in-out;
}
.owl-carousel .owl-item .owl-lazy {
 opacity: 0;
 transition: opacity 0.4s ease;
}
.owl-carousel .owl-item .owl-lazy:not([src]), .owl-carousel .owl-item .owl-lazy[src^=""] {
 max-height: 0;
}
.owl-carousel .owl-item img.owl-lazy {
 transform-style: preserve-3d;
}
