body {
    background: black;
    margin: 0;
    padding: 0;
}

#ortala {
    width: 100%;
    max-width: 1170px;
    margin: 0 auto;
    padding-left: 170px;
    box-sizing: border-box;
}

#matrix {           
    height: 500px;
    overflow: hidden;
    position: relative;
    color :rgba(0, 255, 0, .7);
    text-align: center;
    font-size: 20px;
}

#matrix div {
    position: absolute;
    top: 0;
    animation-name: gizlegoster, asagi;
    animation-iteration-count: infinite;
}

.y1 {
    left: 2px;
    animation-duration: 7s;
    color: green;
}

.y2 {
    left: 60px;
    animation-duration: 13s;
    color: green;
}

.y3 {
    left: 120px;
    animation-duration: 4s;
    color: green;
}

.y4 {
    left: 180px;
    animation-duration: 5s;
    color: green;
}

.y5 {
    left: 240px;
    animation-duration: 6s;
    color: green;
}

.y6 {
    left: 320px;
    animation-duration: 8s;
    color: green;
}

.y7 {
    left: 400px;
    animation-duration: 12s;
    color: green;
}

.y8 {
    left: 480px;
    animation-duration: 10s;
    color: green;
}

.y9 {
    left: 560px;
    animation-duration: 11s;
    color: green;
}

.y10 {
    left: 700px;
    animation-duration: 20s;
    color: green;
}


.z1 {
    left: 2px;
    animation-duration: 7s;
    color: green;
}

.z2 {
    left: 60px;
    animation-duration: 13s;
    color: green;
}

.z3 {
    left: 120px;
    animation-duration: 6s;
    color: green;
}

.z4 {
    left: 180px;
    animation-duration: 11s;
    color: green;
}

.z5 {
    left: 240px;
    animation-duration: 9s;
    color: green;
}

.z6 {
    left: 320px;
    animation-duration: 5s;
    color: green;
}

.z7 {
    left: 400px;
    animation-duration: 10s;
    color: green;
}

.z8 {
    left: 480px;
    animation-duration: 6s;
    color: green;
}

.z9 {
    left: 560px;
    animation-duration: 8s;
    color: green;
}

.z10 {
    left: 700px;
    animation-duration: 3s;
    color: green;
}

@keyframes gizlegoster {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes asagi {
    0% {
        top: -300px;
    }
    100% {
        top: 900px;
    }
}

#detay {
    margin-top: 27px;
    text-transform: uppercase;
    color: #1ec503;
    text-align: center;
    font-size: 40px;
    font-family: Arial;
    font-weight: bold;
}

a {
    text-decoration: none;
    color: beige;
    font-size: 37px;
}